.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #21f380;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21f380;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input[type=number] {
    width: 5em
}

input[type=button] {
    width: 10em
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    background-color: #74747436;
    padding: 10px;

}

.flex-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    flex: 1 0 auto;
}

.flex-container>textarea {
    flex: 1 ;
}

.input {
    width: auto;
    min-width: 300px;
    flex: auto;
}

.plot {
    min-width: 300px;
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui;
}

.save {
    background-color: rgb(178, 224, 203) !important;
    border: solid 1px black;
    text-align: center;
    border: solid 1px black;
    padding: 0px 0;
    font-size: 1em;
    right: 18px;
    left: 18px;
}

.help {
    background-color: rgb(178, 224, 203) !important;
    text-align: center;
    border: solid 1px black;
    padding: 0px 0;
    font-size: 1em;
    right: 18px;
    left: 18px;
}
.currency {
    width: 5em
}